.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(5, 82, 5);
  border-radius: 0;
  border-bottom: 10px solid black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 40px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 0px;
}

.row {
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.hour-style {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

.past {
  background-color: #c5e9a8;
  color: white;
}

.present {
  background-color: #149c08;
  color: white;
}

.future {
  background-color: #f7bf08;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #149c08;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.btnBg{
  background-color: white;
  border-left: 1px solid black;
}

i {
color: white;
align-items: center;
}

i:hover {
  color: #000000;
}