.jumbotron {
  text-align: center;
  background-color: transparent;
  color:#0b5204;
  border-radius: 0px;
  border-bottom: 10px solid black;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 40px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  margin-top: 20px;
  padding-bottom: 0px;
}

.row {
  border-top: 1px solid white;;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.hour-style {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.past {
  background-color: #c5e9a8;
  color: white;
}

.present {
  background-color: #149c08;
  color: white;
}

.future {
  background-color: #f7bf08;
  color: white;
}

.btnBg {
  background-color: white;
  border-left: 1px solid black;

}

.saveBtn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 0px;
  height: 120px;
  width: 120px;
  background-color: #149c08;
  align-items: center;
  align-content: center;
  }

.saveBtn:hover {
  font-size: 20px;
  color: #000000;
  transition: all .3s ease-in-out;
}

i {
  color: white;
  align-items: center;
}

i:hover {
  color: #000000;
}

fieldset {
  margin-top: 30px;
  margin-bottom: 50px;
}
